services:
	- FoowieTests\Mocks\NetteDatabaseContextMock
	- FoowieTests\Mocks\EntityManagerInterfaceMock
cron:
	securityToken: null
extensions:
	console: Kdyby\Console\DI\ConsoleExtension
application:
	scanDirs: false